<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OC中的私有变量和私有方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>less.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>self.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>self关键字注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>super关键字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>多态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>第一个继承demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>继承的其他特性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>继承的基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3505C5241F4AB7970040F6FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3505C5381F4AC4480040F6FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3521ED2E1F4A6FCD008615C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>353120351F4A796400311519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>353120431F4A7EEF00311519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>353120541F4A822D00311519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>353120681F4A892000311519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3546ABF81F39987E001C4CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35D452AC1F4ADC9100A1AD2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
